<footer class="ba-footer">
    <div class="ba-footer__main">
      <div class="ba-footer__columns">
        <div class="ba-footer__col">
          <h4>About British Airways</h4>
          <ul>
            <li><a href="#">About BA</a></li>
            <li><a href="#">Sustainability</a></li>
            <li><a href="#">Environmental policy</a></li>
            <li><a href="#">Modern Slavery statement</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="ba-footer__col">
          <h4>Support</h4>
          <ul>
            <li><a href="#">Help and contacts</a></li>
            <li><a href="#">Customer commitment</a></li>
            <li><a href="#">Accessibility and site help</a></li>
            <li><a href="#">Media centre</a></li>
          </ul>
        </div>
        <div class="ba-footer__col">
          <h4>Policies</h4>
          <ul>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Website security</a></li>
            <li><a href="#">Cookie policy</a></li>
          </ul>
        </div>
        <div class="ba-footer__col">
          <h4>More</h4>
          <ul>
            <li><a href="#">Flights</a></li>
            <li><a href="#">Iberia.com</a></li>
          </ul>
        </div>
      </div>
      <hr class="ba-footer__divider" />
      <div class="ba-footer__bottom">
        <div class="ba-footer__brand">
          <img src="/assests/images/footerbrand.png" alt="British Airways" />
          <span>© British Airways - all rights reserved</span>
        </div>
        <div class="ba-footer__socials">
          <a href="#"><i class="fab fa-facebook-f" aria-label="Facebook"></i></a>
          <a href="#"><i class="fab fa-instagram" aria-label="Instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in" aria-label="LinkedIn"></i></a>
          <a href="#"><i class="fab fa-tiktok" aria-label="TikTok"></i></a>
          <a href="#"><i class="fab fa-x-twitter" aria-label="X"></i></a>
          <a href="#"><i class="fab fa-youtube" aria-label="YouTube"></i></a>
        </div>
        <div class="ba-footer__locale">
          <a href="#">India - English <img src="https://flagcdn.com/in.svg" alt="India" style="width:22px;vertical-align:middle;margin-left:5px;"></a>
        </div>
      </div>
    </div>
  </footer>
  